@use '../../../styles/_animations';
@import "../../../styles/variables";

:host {
  margin: 0;
}

.bounce-in-top {
  display: flex;
  place-content: center;
  padding: 2rem 0;
  width: 100vw;
  animation: bounce-in-top 1.1s 0.4s both;
}

.hero-title {
  background: $left-gradient;
  background-size: 500%;
  animation: gradient ease-in-out 5s infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 4rem 0;
  font-family: $custom-font;
  font-size: 8rem;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 1300px) {
  .hero-title {
    font-size: 6rem;
    line-height: 4rem;
  }
}

@media (max-width: 960px) {
  .hero-title {
    font-size: 4rem;
    line-height: 4rem;
  }
}
