<article class="project-tile">
  <h2>{{ name }}</h2>
  <h3>{{ description }}</h3>
  <a href="{{ link }}" target="_blank">
    <!--        <img src="imgAsset" alt="name">-->
  </a>
  <div class="buttons">
    <a href="{{ link }}" target="_blank">
      <button class='button live-site'>LIVE SITE</button>
    </a>
    <a href="{{ repoLink }}" target="_blank">
      <button class='button github-code'>GITHUB</button>
    </a>
  </div>
  <div class="description">
    <strong>Description:</strong> {{ body }}
  </div>
  <div class="tech">
    <strong>Technologies Used:</strong>
    <div *ngFor="let tech of technologies">
      <div>{{ tech }}</div>
    </div>
  </div>
</article>
