<article class="project-tile">
  <h2>{{ project.name }}</h2>
  <h3>{{ project.description }}</h3>
  <img src="{{ project.imgAsset }}" alt="project.name">
    @for (p of project.versions; track p) {
      <div class="buttons">
          <a href="{{ p.link }}" target="_blank">
          <button class='button live-site'>{{ p.language ? p.language + ' ' : '' }}Deployed Site</button>
        </a>
        <a *ngIf="p.repoLink" href="{{ p.repoLink }}" target="_blank">
          <button class='button github-code'>{{ p.language ? p.language + ' ' : '' }}Github</button>
        </a>
      </div>
    }
  <div class="description">
    <strong>Description:</strong> {{ project.body }}
  </div>
  <div class="tech">
    <strong>Technologies Used:</strong>
    <div *ngFor="let tech of project.technologies">
      <div>{{ tech }}</div>
    </div>
  </div>
</article>
