@import './variables';

/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

:root {
  font-family: $standard-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-dark;
  background-color: $white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  min-width: 320px;
}

.home-title {
  color: $lucky-orange;
  margin-bottom: 3%;
  font-size: 2rem;
}

.home-subtitle {
  font-size: 1.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $darker-blue;
    background-color: $white;
  }
  a:hover {
    color: $lighter-blue;
  }
  button {
    background-color: $almost-white;
  }
}
